<html>
	<head>
		<script src="js/angular.js"></script>
	</head>
	<body>
		<div ng-app="" ng-init="item=['mango','apple','orange','banana']">
			<p>
				{{item[1]}}
			</p>
			<h2>NG REPEAT</h2>
			<ul>
				<li ng-repeat="x in item">{{x}}</li>
			</ul>
			<hr>
			<h2>NG REPEAT DROP DOWN</h2>
			select item:<select> <!-- ng-model can be used in the place of name or id--> 
							<option value="">choose item</option>
							<option ng-repeat="a in item" value="{{a}}">{{a}}</option>
						</select>
			<hr>
			select item:<select>
							<option value="">choose item</option>
							<option ng-repeat="a in item" ng-bind="a"></option> <!-- ng-bind is giving value and text for item-->
						</select>
						<!--ng change:
						    <select ng-model="photo" ng-change="test6(photo)">
								<option value="">choose city</option>
								<option value="1.jpg">hari</option>
								<option value="2.jpg">madu</option>
								<option value="3.jpg">alex</option>
								<option value="4.jpg">bindu</option>
							</select>-->
			
			
		</div>
	</body>
</html>