.top-bar{
	background:orange;
	padding:5px;
}
.social-icon{
	color:white;
	margin-right:5px;
}
.contact{
	
	color:white;
}

.my-menu{
	margin-top:50px;
}
#navbar li a{
	color:black;
	font-size:23px;
}
#head{
	color:black;
	font-size:25px;
}
/* .my-menu .navbar-default{
	background:none;
	border:none;
} 
.mymenu .navbar-nav .active{
	background:#F26D1B;
	color:white;
}
#media (max-width:1200px;){
	.my-menu .pull-right{
		float:none;
		important;
	}




*/

/* visited link */

#navbar li a:hover{
  background:#F26D1B;
	color:white;
}
#navbar li a:active {
    color: green;
}
.language{
	margin-top:20px;
	border:none;
}
.photos-section{
	background:#2C89B8;
}
.photo{
	width:250px;
	height:150px;
	padding:10px;
}
.photo:hover{
	opacity:.5;
}
.foot{
	
	
	color:black;
	padding:15px
}
.foot ul{
	list-style:none;
	margin:50px;
}
.foot ul a{
	color:black;
	
	font-size:15px;
	
}

.foot ul li{
	padding:5px;
}
.foot p{
  color:black;
}
footer {
	height:150px;
      background-color: #555;
      color: black;
      padding: 15px;
    }











